.main {padding: 0!important;}
footer.footer {display: none;}
#map .observablehq {flex-grow: 1;}
#map .code-copy-outer-scaffold {display: none;}
#map .card-body {padding: 0;}

.collapse-toggle {z-index: 100000;}


aside button.btn-quarto {
  background: transparent;
}

aside select {
  background: transparent;
  padding: 0.75em 0.5em;
  border: 1px solid #363636;
}

.loader-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF6;
  z-index: 5;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #015160;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
 @keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 